<!DOCTYPE html>
<html data-ng-app="usenetApp" data-ng-controller="mobile">
	<head>
		<title>Grab your API keys</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="shortcut icon" href="images/wifi.png" />
	</head>
	<body>
	<dl>
		<span data-ng-if="settings.sabnzbd">
		<dt>Sabnzbd: </dt>
		<dd>{{settings.sabnzbdAPI}}</dd>
		</span>
		<span data-ng-if="settings.sickbeard">
		<dt>Sickbeard: </dt>
		<dd>{{settings.sickbeardAPI}}</dd>
		</span>
		<span data-ng-repeat="key in settings.keys">
		<dt>{{key.label}}: </dt>
		<dd>{{key.api}}</dd>
		</span>
	</dl>
                <script type='text/javascript' src="all.js"></script>

	</body>
</html>
