
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="usenetApp" data-ng-controller="SabDLList"> 

		<meta charset="UTF-8" />
		<title>tomato Intranet</title>
		<link rel="stylesheet" href="intranet/style.css" />
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<body>
		<h1>tomato Server</h1>
		<div data-ng-if="settings.sickbeard">
			<div class="sickbeardShows">
			<h3>TV Today</h3>
			<ul class='comingShows'>
				<div sb-dl></div>
			</ul>
			<ul class='snatchedShows'>
				<div sb-history></div>
			</ul>
			</div>
		
			<a href="{{settings.sickbeardURL}}" title="SickBeard" class="actionButton big sickbeard"><span>SickBeard</span></a>
		</div>
		<span data-ng-if="settings.couchpotato">
			<a href="{{settings.couchpotatoURL}}" title="CouchPoato" class="actionButton big couchpotato"><span>CouchPotato</span></a>
		</span>
		<span data-ng-if="settings.headphones">
			<a href="{{settings.headphonesURL}}" title="Headphones" class="actionButton big headphones"><span>Headphones</span></a>
		</span>
		<span data-ng-if="settings.sabnzbd">		
			<a href="{{settings.sabnzbdURL}}" title="SABnzbd" class="actionButton big sabnzb"><span>SABnzbd</span></a>
		</span>
		<div class="downloadFrame clearfix">
			<div class="downloadFrameSlide clearfix">
			<div class="downloadPage downloadPageCurrent">
				<h2>Currently Downloading</h2>
				<a href="#" class="go actionButton small">&gt;</a>
				<div sabnzbd></div>
			</div>
			<div class="downloadPage downloadPageHistory">
				<h2>Recently Finished</h2>
				<a href="#" class="go actionButton small">&lt;</a>
				<div sab-history></div>
			</div>
			</div>

							
		</div>
		
		</div>
<div data-ng-if="settings.transmission">
	<div class="clearfix">
		<a href="{{settings.transmissionLink}}" title="Transmission" class="actionButton big transmission"><span>Transmission</span></a>
		<div class="downloadFrame clearfix">
		<div class="downloadFrameSlide clearfix">
		<div class="downloadPage downloadPageCurrent">
			<a href="#" class="go actionButton small">&gt;</a>
			<h2>Currently Downloading</h2>
			<div trans-torrent></div>
			</div>
			<div class="downloadPage downloadPageHistory">
			<h2>Recently Finished</h2>
			<a href="#" class="go actionButton small">&lt;</a><ul></ul>
			</div>
		</div>
		</div>
	</div>
</div>

		<div class="wifi" data-ng-if="settings.showWifi">
			<h2>Wifi Password for {{settings.wifiName}}</h2>
			<h3>{{settings.wifiPassword}}</h3>
		</div>
				
		<div class="secondaryButtons clearfix">
			<span data-ng-if="settings.showTrailers">
			<a href="http://www.hd-trailers.net/" target="_blank" class="actionButton small icon iconTrailer"><span>Watch Trailers</span></a>
			</span>
			<span data-ng-if="settings.bookmarks">
			<span data-ng-repeat="link in settings.bookmarks | orderBy:settings.bookSort">
			<a href="{{link.url}}" target="_blank" class="actionButton small icon iconTrailer"><span style='background-image: url({{link.icon}});'>{{link.label}}</span></a>
			</span>
			</span>
		</div>
	
		<script src="intranet/js/jquery.js"></script>
		<script src="intranet/js/scripts.js"></script>
                <script type='text/javascript' src="intranet/js/xml2json.min.js"></script>
                <script type='text/javascript' src="intranet/js/angular.min.js"></script>
		<script type='text/javascript' src="intranet/js/ngStorage.min.js"></script>
		<script type='text/javascript' src="intranet/js/angular-base64.js"></script>
		<script type='text/javascript' src="intranet/js/session.js"></script>
                <script type='text/javascript' src="intranet/app.js"></script>

	</body>
</html>

